<div class="modal">
  <div class="modelHeader">
    <img
      src="./assets/img/second-block/blue_tree.png"
      alt=""
      class="cover-bg"
    />

    <h1 class="firstHeader">Add formations you followed</h1>
  </div>
  <div class="defoultImage">
    <div class="defImg"><img src="./assets/img/books/defimage.png" /></div>
    <div class="info">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
          <div>
            <input
              formControlName="url"
              id="url"
              name="url"
              type="text"
              class="form-control"
              placeholder="Link of the formation"
            />

            <div *ngIf="url?.invalid && url?.touched" class="alert">
              <div *ngIf="url?.errors?.['required']">Please provide url.</div>

              <div *ngIf="url?.errors?.['pattern']">
                Please enter valid url.
              </div>
            </div>
          </div>

          <div
            *ngIf="(!url?.errors?.['required'] && !url?.errors?.['pattern'] && !form.valid)"
          >
            <input
              formControlName="formName"
              id="formName"
              name="formName"
              type="text"
              class="form-control"
              placeholder="Formation name"
            />

            <div *ngIf="formName?.invalid && formName?.touched" class="alert">
              <div *ngIf="formName?.errors?.['required']">
                Please provide formName.
              </div>

              <div *ngIf="formName?.errors?.['pattern']">
                Please enter valid formName.
              </div>
            </div>
          </div>

          <div
            *ngIf="(!url?.errors?.['required'] && !url?.errors?.['pattern'] && !form.valid)"
          >
            <input
              formControlName="author"
              id="author"
              name="author"
              type="text"
              class="form-control"
              placeholder="Realised by"
            />

            <div *ngIf="author?.invalid && author?.touched" class="alert">
              <div *ngIf="author?.errors?.['required']">
                Please provide author.
              </div>

              <div *ngIf="author?.errors?.['pattern']">
                Please enter valid author.
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <button class="btnCancle" [disabled]="!form.valid">Cancle</button>
</div>
