<div class="modal">
  <div class="modelHeader">
    <img
      src="./assets/img/second-block/blue_tree.png"
      alt=""
      class="cover-bg"
    />

    <h1 class="firstHeader">Add formations you followed</h1>
  </div>
  <div class="defoultImage">
    <div class="defImg"><img src="./assets/img/books/defimage.png" /></div>
    <div class="info">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
          <div>
            <input
              formControlName="url"
              id="url"
              name="url"
              type="text"
              class="form-control"
              placeholder="Link of the formation"
            />

            <div *ngIf="url?.invalid && url?.touched" class="alert">
              <div *ngIf="url?.errors?.['required']">Please provide url.</div>

              <div *ngIf="url?.errors?.['pattern']">
                Please enter valid url.
              </div>
            </div>
          </div>

          <div
            *ngIf="(!url?.errors?.['required'] && !url?.errors?.['pattern'] && !urlValid)"
          >
            <input
              formControlName="formName"
              id="formName"
              name="formName"
              type="text"
              class="form-control"
              placeholder="Formation name"
              #input1
              (keydown.enter)="checkInputs(input1.value)"
              maxlength="26"
            />

            <div *ngIf="formName?.invalid && formName?.touched" class="alert">
              <div *ngIf="formName?.errors?.['required']">
                Please provide title
              </div>

              <div
                *ngIf="
                  formName?.touched && this.form.value.formName.length >= 25
                "
              >
                Must be 25 characters maximum
              </div>
            </div>
          </div>

          <div
            *ngIf="(!url?.errors?.['required'] && !url?.errors?.['pattern'] && !urlValid)"
          >
            <input
              formControlName="author"
              id="author"
              name="author"
              type="text"
              class="form-control"
              placeholder="Realised by"
            />

            <div *ngIf="author?.invalid && author?.touched" class="alert">
              <div *ngIf="author?.errors?.['required']">
                Please provide author.
              </div>

              <div *ngIf="author?.errors?.['pattern']">
                Please enter valid author.
              </div>
            </div>
          </div>
          <div
            *ngIf="(!url?.errors?.['required'] && !url?.errors?.['pattern'] && !urlValid)"
          >
            <p class="titleBold">Power of this experience for you</p>
            <div class="item">
              <img
                class="fire"
                [style]="fire == 1 && activeFire ? 'opacity:1' : ''"
                src="./assets/img/general/fire1.png"
                alt="fire 1"
                (click)="fireImg(1)"
              />
              <img
                class="fire"
                [style]="fire == 2 && activeFire ? 'opacity:1' : ''"
                src="./assets/img/general/fire2.png"
                alt="fire 2"
                (click)="fireImg(2)"
              />
              <img
                class="fire"
                [style]="fire == 3 && activeFire ? 'opacity:1' : ''"
                src="./assets/img/general/fire3.png"
                alt="fire 3"
                (click)="fireImg(3)"
              />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="buttons">
    <button class="btnCancle" (click)="closeModal()">Cancel</button>
    <button
      *ngIf="(!url?.errors?.['required'] && !url?.errors?.['pattern'] && !urlValid)"
      class="btnAdd"
      [style]="form.invalid || !fire ? 'opacity:0.5' : ''"
      [disabled]="form.invalid || !fire"
      (click)="addToList()"
    >
      Add "{{ this.form.value.formName }}"
    </button>
  </div>
</div>
